<%= simple_form_for image do |f| %>
  <div data-address-autocomplete-target="imagesContainer"></div>
  <%= f.input :options, :label => "Select your design options",
              as: :check_boxes,
              input_html: { class: "tag-selector" },
              item_wrapper_class: 'tag-item',
              collection: Image::OPTIONS, include_hidden: false %>
              <div class="col-12 d-flex justify-content-center">
  <%= f.input :custom_option, placeholder: 'Enter a custom option', label: false, input_html: { class: "form-control options-search" } %>
              </div>

  <%= f.button :submit, 'Be inspired', class: "btn-primary text-white" %>
<% end %>
