<div class="container search-box-container d-flex p-3 flex-column align-items-center z-3">
  <button type="button" class="overlay-close" data-action="click->address-autocomplete#closeButton">Close</button>
  <div data-address-autocomplete-target="optionsContainer" class="hidden">
    <div class="row d-flex text-center">
      <%= render "shared/options", image: @navbar_image %>
    </div>
  </div>
</div>
