.cards {
  display: grid;
  grid-gap:16px;
  margin: 32px;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}

.card {
  border-radius: 0.5em;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.index-card {
  max-width: 640px;
  max-height: 512px;
  min-width: 225px;
  min-height: 180px;
  aspect-ratio: 1.25/1;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: var(--bs-border-color-translucent) solid 1px;
  margin: auto ;
}

.users-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  .card {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}
