
<div class="d-flex flex-column">
  <% @image.comments.each do |comment| %>
    <div class="card card-block mx-2" style="min-height: 265px;
      min-width: 650px;
      max-width: 650px;
      margin-right: 5px;">
      <div class="card-body">
        <h5 class="card-title"><%= comment.user.username %></h5>
        <p class="card-text"><%= comment.text %></p>
      </div>
    </div>
  <% end %>
</div>
