  <div class="map rounded" data-controller="map"
    id="map"
    data-map-all-markers-value="<%= all_markers.to_json %>"
    data-map-image-marker-value="<%= image_marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    style='width: 100%; height: 400px;'>
  </div>
