<div class="container-fluid image-fluid-container px-5">
  <div class="row m-2">
    <div class="col-12 col-md-8 mt-3">
      <%= render "imageslider" %>
    </div>
    <div class="col-12 col-md-4 mt-3">
      <div class="card side-card-color">
        <div class="card-body">
          <h5 class="card-title">Options</h5>
          <p class="card-text">Should we add a breif description info here so it doesnt look as bare of what this is and to save or regenerate?</p>
          <p class="card-text"><small class="text-muted">Image address to go here?</small></p>
          <% @image.options.each do |option| %>
            <p class="img-tag-options mt-2"><%= option.capitalize %></p>
          <% end %>
          <% if !@image.custom_option.blank? %>
            <p class="img-tag-options mt-2"><%= @image.custom_option %></p>
          <% end %>
          <div class="mt-2">
            <%= render "save_private_form", image: @image %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
