<!DOCTYPE html>
<html>
<head>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.fastcompany.net/image/upload/w_1280,f_auto,q_auto,fl_lossy/wp-cms/uploads/2019/09/2-google-walkable-development.jpg);">
  <div class="container">
    <h1>Reimagine your city</h1>
    <p>Reimagining urban design, one streetscape at a time, with the help of image-generation AI</p>
  </div>
</div>


<div>
  <%= render "image", images: @images %>
</div>



</head>
</html>
