<div class="container">
  <h1>images#show</h1>
  <div class="card" style="max-width: 100%;">
    <%# <div class="row g-0"> %>
      <div class="col-md-4">
        <%= cl_image_tag "prvluvb2arm6lhic2on9", width: 300, height: 300, crop: :fill, gravity: "auto", class: "card-img-top" %>
      </div>
    </div>
  </div>
</div>
